
<div class="jumbotron center vertical-center">
  <div class="container">
    <h1><strong>ToDoApp</strong></h1>
    <p><a class="btn btn-primary btn-lg btn-background" href="/todos" role="button">Learn more</a></p>
  </div>
</div>