$background-colors: #581845;
$text-colors: #581845;

@import "bootstrap-sprockets";
@import "bootstrap";

// ******** MODULAR CSS *********** //

.center {
  text-align: center;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-background {
  background-color: $background-colors;
}

.listing {
  list-style: none;
  padding-left: 0;
}


// ************ HOME ************** //
.jumbotron {
  background-color: #fff;
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
}

.jumbotron .container {
  background-image: asset-url('todo-cover.jpg');
  background-repeat:no-repeat;
  width: 750px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block; 
}

.jumbotron h1 {
  color: $text-colors;
  position: relative;
  bottom: 15px;
}

.jumbotron p {
  position: relative;
  top: 300px;
}

// *********** NAVBAR ************* //

.navbar {
  background-color: $background-colors;
  height: 50px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: 8px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


// *********** FOOTER ************* //

.footer {
  background-color: $background-colors;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.text-muted {
  text-align: center;
  margin-top: 15px;
  color: #fff;
}

// ********* CONTENT *********** //
.user-title {
  font-weight: bold;
  font-size: 1.25em;
  color: $background-colors;
}

.user-info {
  margin-top: 10px;
}

.user-actions {
  padding-top: 5px;
  a {
    color: #fff
  }
}