$background-colors: #581845;
$text-colors: #581845;

@import "bootstrap-sprockets";
@import "bootstrap";

// ******** MODULAR CSS *********** //

.center {
  text-align: center;
}

.btn-background {
  background-color: $background-colors;
}


// ************ HOME ************** //
.jumbotron {
  background-color: #fff;
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
}

.jumbotron .container {
  background-image: asset-url('todo-cover.jpg');
  background-repeat:no-repeat;
  width: 750px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block; 
}

.jumbotron h1 {
  color: $text-colors;
  position: relative;
  bottom: 15px;
}

.jumbotron p {
  position: relative;
  top: 300px;
}

// *********** NAVBAR ************* //

.nav {
  background-color: $background-colors;
  height: 50px;
}

.nav-tabs > li > a {
  color: #fff;
  height: 50px;
}

.nav-tabs > li > a:hover {
  background-color: #fff;
  color: black;
  height: 50px;
}


// *********** FOOTER ************* //

.footer {
  background-color: $background-colors;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.text-muted {
  text-align: center;
  margin-top: 15px;
  color: #fff;
}