<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "ToDoApp", root_url %></li>
  <li role="presentation"><%= link_to "Todo's List", todos_path %></li>
  <li role="presentation"><%= link_to "New Todo", new_todo_path %></li>
</ul>